@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans'; 
border: 1px solid orange;
}
/* LOGO section */
nav{
  display: flex;
  position:sticky;
  top:0px;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.logo{
    /* border: 2px solid black; */
    width: 40%;
}

.logo-text{
  color: #181E50;
  font-weight: bold;
  font-size: 1.01rem; 
}

.initial-N,.initial-G{
   font-size: 2.5rem;
   font-weight: bold;
}
.initial-N{
  margin-left: 2.3em;
}

.initial-G{
  margin-left: -0.15em;
  color: #002DA0;
}
/* End of logo section */


/* Navbar hyperlinks */
.navbar-section{
    width: 60%;
}

.nav-list{
    position:relative;
    top: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav-hyperlinks{
    display: flex;
    width: 60%;
   justify-content: space-around;
}

.contact-section{
width: 20%;
}

.nav-list li{
    display: inline-block;
    padding: 4px 10px;
    color: black;
}

.nav-list a{
    text-decoration: none;
    color: black;
}

.contact-box{
     border:1px solid black;
     text-align: center;
     border-radius: 42px;
}

/* End of hyperlinks */
.body-container{
   display: flex;
   justify-content: space-between;
   font-family: 'Open Sans';
}
/* body-container */

    /* services-container section*/
       .services-container{
         display: flex;
         flex-direction: column;
         padding: 4.7em 3.5em;
       }
    /* services-container section*/

    
    /* completion-services section */
       .completion-services{
         width: 100%;
         display: flex;
         justify-content: space-between;
         /* border: 1px solid cyan; */
        
       }

       .service-details{
        padding: 2em 0em;
       }

       .emoji{
         display:flex;
         justify-content: center;
       }

       .sad{
              position: relative;
              top: -13px;
       }

       .service-title{
         font-size: 1.5rem;
         text-align: center;
         font-weight: 400;
       }

       .services-accuracy p{
          margin: 3px;
          display: flex;
          justify-content: space-between;
       }

       .services-accuracy p .service-title{
          margin-right: 5px;
       }
    /*End completion-services section */
    
    /* CV Section */
    .cv-section{
      width: 70%;
     margin-top: 4em;
     padding: 0.5em 2em;
    }

    .title-text,  .service-text{
      font-weight: 900;
      font-size: 2.3rem;
      letter-spacing: 1.7px;
      margin: 8px 0px;
    }
    .service-text{
      color: #FBA42F;
    }
     .description{
       width: 500px;
     font-size: 0.9rem;
     margin: 10px 0px;
    }

    .btn{
      padding: 9px 22px;
      background-color: #FBA42F;
      color: white;
      font-weight: 500;
      font-size: 1.1rem;
      border-radius: 20px;
      border: 0px solid #FBA42F;
    }
    /* End of CV Section */


    /* Intro Section */
     .intro{
       padding: 13.6em 2em;
       /* border: 1px solid black; */
       width: 50%;
       height: 100%;
      background: url("http://127.0.0.1:5500/images/man.png") no-repeat top center;
       background-size: 57% auto;
       font-family: 'Open Sans';
     } 
     .introduction{
     margin: 3.7em 0em 0em -105px ;
     }

     .introduction p{ 
       margin: 9px 0px;
    }
     .introduction .greeting{
       font-weight: 900;
       text-align: center;
       font-size: 1.9rem;
       letter-spacing: 1.5px;
     }

     .introduction .designation{
      font-weight: 900;
      text-align: center;
      font-size: 1.4rem;
      letter-spacing: 1.5px;
      color: #0033A4;
     }

     .introduction .intro-btn{
      background-color: #0033A4;
      border: 1px solid #0033A4;
      color: white;
      padding: 4px 33px;
      font-size: 1rem;
      border-radius: 8px;
      text-align: center;
      position: realtive;
      margin: 0px 39%;
     }
    /* End of Intro Section */
/* End of body container */